.header {
  background-color: $header-background-color;
  padding-bottom: $base-spacing / 2;
  padding-top: $base-spacing / 2;
  width: 100%;

  @at-root #{&}__logo--mobile {
    display: inline;
    float: left;

    @include media($small-screen-up) {
      display: none;
    }
  }

  @at-root #{&}__logo-image {
    max-height: $navigation-logo-height;

    @at-root #{&}--desktop {
      margin-bottom: -$navigation-logo-height / 3;
    }
  }

  @at-root #{&}__navigation-mobile-menu {
    color: $header-link-color;
    float: right;
    margin-right: .5em;
    padding-top: .5em;
    text-decoration: none;

    @include media($small-screen-up) {
      display: none;
    }

    &:focus,
    &:hover {
      color: transparentize($header-color, 0);
    }
  }

  @at-root #{&}__wrapper {
    @include clearfix;
    @include outer-container;

    position: relative;
  }
}
