$page-title-font-size: modular-scale(2, 1rem, $golden);
$page-title-font-weight: 300;

.page {
  background-color: #fff;
  padding-bottom: $base-spacing;
  padding-top: $base-spacing;

  @at-root #{&}__header {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  @at-root #{&}__title {
    font-size: $page-title-font-size;
    font-weight: $page-title-font-weight;
  }

  @at-root #{&}__header-wrapper,
           #{&}__content-wrapper {
    margin: 0 1rem;

    @include media($small-screen-up) {
      margin: 0 auto;
      width: rem(700);
    }
  }
}

.page__content {
  blockquote {
    border-left: .25rem solid $grey-light;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
    padding: .25rem .5rem;

    p {
      margin-bottom: 1rem;
      margin-top: 0;
    }

    cite {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  pre {
    border: 1px solid $grey-dark;
    overflow: auto;
    padding: .5em 1em;
  }

  code {
    font-size: .9em;
  }

  a {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
