<div class="c-title">
  <h1 class="c-title__name p-name">
    Myles Braithwaite
  </h1>

  <h2 class="c-title__slogan">
    Hoping for the Best, Imagining the Worst.
  </h2>

  <p class="c-title__copy p-note">
    Myles Braithwaite lives in Toronto where he runs a small consulting company called <a class="p-org" href="https://monkeyinyoursoul.com/">Monkey in your Soul</a> (you should hire him).
  </p>

  <div class="c-title__btn-group c-btn-group">
    {% for link in title %}
    <a href="{{ link.url }}" class="c-btn{% if link.slug %} c-btn--{{ link.slug }}{% endif %}{% if link.hcard %}{{ link.hcard }}{% endif %}"{% if link.rel %}rel="{{ link.rel }}"{% endif %}>
      {% if link.icon %}<i class="{{ link.icon }}">&nbsp;</i>{% endif %}
      {{ link.name }}
    </a>
    {% endfor %}
  </div>
</div>
