<h2 class="c-slide__title">Work</h2>

<div class="c-slide__row">
  <div class="c-slide__col-3">
    <div class="c-img-avatar">
      <div class="c-img-avatar__wrapper">
        <img class="c-img-avatar__image" src="/assets/img/avatar-suit-and-tie.svg" alt="Myles Braithwaite">
      </div>
    </div>
  </div>

  <div class="c-slide__col-9">
    <div>
      <h3>
        <a class="p-org h-card" href="https://grantmatch.ca/">
          GrantMatch&trade;
        </a>
      </h3>

      <p>GrantMatch is an application for designing and managing a proactive funding strategy.</p>
    </div>

    <div>
      <h3>
        <a class="p-org h-card" href="https://monkeyinyoursoul.com/">
          Monkey in your Soul
        </a>
      </h3>

      <p>Monkey in your Soul is a full stack web development consulting firm I started in 2005.</p>
    </div>

    <div>
      <h3>
        <a class="p-org h-card" href="https://rottenbananas.ca/">
          Rotten Bananas
        </a>
      </h3>

      <p>Rotten Bananas is an awesome design collective <a href="https://dantappersounddesign.com/">Dan Tapper</a> and I started in 2017.</p>
    </div>
  </div>
</div>
