<h2 class="c-slide__title">Work</h2>

<div class="c-slide__row">
  <div class="c-slide__col-3">
    <img src="/assets/img/monkey-in-your-soul.png" style="width:100%" alt="Monkey in your Soul">
  </div>

  <div class="c-slide__col-9">
    <h3>
      <a class="p-org h-card" href="https://monkeyinyoursoul.com/">
        Monkey in your Soul
      </a>
    </h3>

    <p>Monkey in your Soul is a full stack web development consulting firm I started in 2005.</p>
  </div>
</div>

<hr class="c-separator">

<div class="c-slide__row">
  <div class="c-slide__col-3">
    <img src="/assets/img/rotten-bananas.svg" style="width:100%" alt="Rotten Bananas">
  </div>

  <div class="c-slide__col-9">
    <h3>
      <a class="p-org h-card" href="https://rottenbananas.ca/">
        Rotten Bananas
      </a>
    </h3>

    <p>Rotten Bananas is an awesome design collective <a href="https://dantappersounddesign.com/">Dan Tapper</a> and I started in 2017.</p>
  </div>
</div>

<hr class="c-separator">

<div class="c-slide__row">
  <div class="c-slide__col-3">
    <img src="/assets/img/grantmatch-icon.svg" style="width:100%" alt="GrantMatch">
  </div>

  <div class="c-slide__col-9">
    <h3>
      <a class="p-org h-card" href="https://grantmatch.ca/">
        GrantMatch&trade;
      </a>
    </h3>

    <p>GrantMatch is an application for designing and managing a proactive funding strategy.</p>
  </div>
</div>
