<h2 class="c-slide__title">Talks</h2>

<div class="c-talk-list">
  {%- for talks in talks.items | slice(4) | first | slice(2) %}
  <div class="c-talk-list__row c-talk-list__row--{{ loop.index }}">
    {%- for talk in talks %}
    <a href="{{ talk.url }}" class="c-talk c-talk-list__item" title="{{ talk.title }}">
      <div class="c-talk__wrapper">
        {% if talk.image %}
          <img src="{{ talk.image }}" alt="{{ talk.title }}" class="c-talk__image">
        {% endif %}

        <div class="c-talk__body c-talk__inner">
          <h3 class="c-talk__title">
            {{ talk.title }}
          </h3>

          <h4 class="c-talk__date">
            {{ talk.date_published | date("Do MMMM YYYY") }}
          </h4>
        </div>
      </div>
    </a>
    {%- endfor %}
  </div>
  {%- endfor %}
</div>
