@each $background in $backgrounds {
  .panel.background-#{$background} {
    @media (max-width: $xlarge-screen) and (min-width: $large-screen) {
      @include background-image(linear-gradient(10deg, $background-color-bottom, $background-color-top), url('#{$backgrounds-dir}/#{$background}-1280.jpg'));
    }
    
    @media (max-width: $large-screen) and (min-width: $medium-screen) {
      @include background-image(linear-gradient(10deg, $background-color-bottom, $background-color-top), url('#{$backgrounds-dir}/#{$background}-1024.jpg'));
    }
    
    @media (max-width: $medium-screen) and (min-width: $small-screen) {
      @include background-image(linear-gradient(10deg, $background-color-bottom, $background-color-top), url('#{$backgrounds-dir}/#{$background}-768.jpg'));
    }
    
    @media (max-width: $small-screen) and (min-width: $xsmall-screen) {
      @include background-image(linear-gradient(10deg, $background-color-bottom, $background-color-top), url('#{$backgrounds-dir}/#{$background}-480.jpg'));
    }
    
    @media (max-width: $xsmall-screen) {
      @include background-image(linear-gradient(10deg, $background-color-bottom, $background-color-top), url('#{$backgrounds-dir}/#{$background}-320.jpg'));
    }
    
    @media (min-width: $xlarge-screen) {
      @include background-image(linear-gradient(10deg, $background-color-bottom, $background-color-top), url('#{$backgrounds-dir}/#{$background}.jpg'));
    }
    
    background-attachment: center;
    background-position: center;
    background-repeat: no-repeat;
    
    background-size: cover;
  }
}
