footer {
  background: $footer-background-color;
  color: $footer-color;
  text-align: center;
  
  a {
    color: $footer-link-color;
    
    &:hover {
      color: $footer-link-color-hover;
    }
  }
  
  .iconic {
    @include size(1.5em);
    vertical-align: middle;
  }
  
  .iconic-heart * {
    @include iconic-color($heart-color);
  }
}
