footer {
	background: #000;
	color: #fff;
	text-align: center;
	
	a {
		color: #fff;
		
		&:hover {
			color: #ccc;
			text-decoration: underline;
		}
	}
	
  p {
    .iconic {
			@include size(1.5em);
			vertical-align: middle;
    }
		.iconic-heart * {
			@include iconic-color($heart-color);
		}
  }
}