header {
	min-height: $header-height;
	background-color: $header-background-color;
	@include position(fixed, 0 null null 0);
	width: 100%;
	
	.wrapper {
		@include outer-container;
		@include clearfix;
	}
	
	nav {
		margin: 0 auto;
		text-align: center;
		
		ul {
			list-display: none;
		}
		
		li {
			display: inline;
			@include padding(null 1em);
			line-height: $header-height;
			
			a {
				color: $header-link-color;
				
				&:focus, &:hover {
					color: $header-link-color-hover;
				}
			}
		}
	}
}