.mast-head {
	min-height: $header-height;
	background-color: $header-background-color;
	@include position(fixed, 0 null null 0);
	width: 100%;
	
	.wrapper {
		@include outer-container;
		@include clearfix;
	}
	
	nav {
		margin: 0 auto;
		padding-right: 1em;
		
		ul {
			list-display: none;
		}
		
		li {
			@include padding(null 1em);
			
			display: inline;
			line-height: $header-height;
			color: $header-link-color;
			
			a {
				color: $header-link-color;
			
				&:focus, &:hover {
					color: $header-link-color-hover;
				}
			}
		}
		
		ul.site-info {
			float: left;
		}
		
		ul.site-links {
			float: right;
		}
	}
}