.panel-home {
	background: url('../images/backgrounds/toronto-skyline.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
	.container {
	  @include align-items(center);
	  @include display(flex);
	  @include justify-content(center);
	}
	
	.content {
		text-align: center;
		
		.image-avatar-wrapper {
			@include size(128px);
			margin: 0 auto;
		}
	}
}