.panel-home {
  .container {
    @include align-items(center);
    @include display(flex);
    @include justify-content(center);
  }
  
  .content {
    text-align: center;
    
    .image-avatar-wrapper {
      @include size(128px);
      @include margin(1em auto);
    }
    
    h1,
    h2,
    p {
      font-family: 'julius-sans-one';
    }
    
    h1,
    h2 {
      margin: 0;
    }
    
    h1 {
      font-size: modular-scale(3);
    }
    
    h2 {
      font-size: modular-scale(2);
    }
    
    .bio {
      @include margin(1em null);
      font-size: modular-scale(1);
    }
  }
}
