.panel-home {
	@each $background in $backgrounds {
		&.background-#{$background} {
			background: url('../images/backgrounds/#{$background}.jpg') no-repeat center center fixed;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		}
	}
	
	.container {
	  @include align-items(center);
	  @include display(flex);
	  @include justify-content(center);
	}
	
	.content {
		text-align: center;
		
		.image-avatar-wrapper {
			@include size(128px);
			margin: 0 auto;
		}
	}
}