// scss-lint:disable ColorVariable

// ###########################
// # Base
// ###########################
// Typography
$base-font-family: $helvetica;
$heading-font-family: 'julius-sans-one', $base-font-family;

// Font Colors
$base-font-color: $light-gray;
$action-color: $blue;

// Background Colors
$base-background-color: $dark-gray;

// ###########################
// # Header
// ###########################
$header-height: 60px;

$header-background-color: rgba(0, 0, 0, .3);

$header-link-color: $light-gray;
$header-link-color-hover: $medium-gray;

// ###########################
// # Footer
// ###########################
$footer-color: $light-gray;
$footer-background-color: $dark-gray;

$footer-link-color: $footer-color;
$footer-link-color-hover: $medium-gray;

// ###########################
// # Panels
// ###########################
$panel-color: $dark-gray;
$panel-background-color: #fff;

$backgrounds: 'toronto-skyline', 'IMG_0606', 'IMG_2409', 'IMG_0626';
$backgrounds-dir: '../images/backgrounds';
$background-color-top: rgba(127, 153, 190, .3);
$background-color-bottom: rgba(32, 57, 43, .3);

// Home
$panel-home-color: $panel-color;
$panel-home-background-color: $panel-background-color;

// About
$panel-about-color: $panel-color;
$panel-about-background-color: $panel-background-color;

// Elsewhere
$panel-elsewhere-color: $panel-color;
$panel-elsewhere-background-color: $panel-background-color;

$flex-box-border-color: $light-gray;
$flex-box-border: 1px solid $flex-box-border-color;
$flex-box-background: lighten($light-gray, 10%);
$flex-box-gutter: .4em;
$flex-box-width: 18em;
$flex-box-color: transparentize($white, .3);
$flex-box-top-colors: #ff6347, #72bfbf, #92b1e3, #e3d743, #ccc, #f6c05c;

// Contact
$panel-contact-color: $panel-color;
$panel-contact-background-color: $panel-background-color;

// ###########################
// # Heart
// ###########################
$heart-color: #da3a35;

// ###########################
// # Social Network Buttons
// ###########################
$social-email-color: $heart-color;
$social-twitter-color: #00b4f3;
$social-instagram-color: #211f20;
$social-github-color: #333;
$social-facebook-color: #3c569a;
$social-google-plus-color: #df4a32;
$social-linkedin-color: #1984bf;
