html,
body {
  height: 100%;
}

html {
  font-family: 'Open Sans', $font-stack-helvetica;
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.sr-only {
  @include hide-text;
}

.c-separator {
  border: 0;
  border-bottom: 1px solid $colour-grey-lighter;
}
