@include font-face('Open Sans', 'fonts/OpenSans-Regular') {
  font-style: normal;
  font-weight: 400;
}

@include font-face('Open Sans', 'fonts/OpenSans-SemiBold') {
  font-style: bold;
  font-weight: bold;
}
