body {
  background-color: $body-background-color;
  margin: 0;
}

a {
  @include text-decoration-color(darken($link-color, 25%));

  color: $link-color;

  &:hover {
    color: darken($link-color, 25%);
  }
}
