body {
  color: $grey-dark;
  font-family: $font-family-base;
  font-size: $font-size-base;

  @each $breakpoint, $font-size in $font-size-responsive {
    @include media($breakpoint) {
      font-size: $font-size;
    }
  }
}
