$base-spacing: 1.5em;

// Colours
// -------

// Local Palette
$cape-code: rgb(63, 80, 76);
$wild-watermelon: rgb(255, 81, 115);
$fire-bush: rgb(237, 160, 52);
$bitter-lemon: rgb(198, 225, 0);
$cerulean: rgb(36, 165, 212);

// Neutral Colours
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: mix($white, $black, 50);

// Gary Colours
$grey-dark: darken($grey, 20);
$grey-light: lighten($grey, 20);
$grey-lighter: lighten($grey, 40);
$grey-lightest: lighten($grey, 60);

// Typography
// ----------

$font-family-base: "Proxima Nova", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-mono: "Hack", Menlo, Monaco, Consolas, "Courier New", monospace;

$font-size-base: 16px;

$font-size-responsive: (
  544px: 17px,
  768px: 18px,
  992px: 19px,
  1200px: 20px
);

$ms-base: 1rem;
$ms-ratio: 1.2;

// Grid
// ----

$small-screen: 450px;
$small-screen-up: new-breakpoint(min-width $small-screen);
$small-screen-down: new-breakpoint(max-width $small-screen);

// Footer
// ------

$footer-logo-height: 5em;

$footer-background-color: desaturate(darken($wild-watermelon, 20%), 30%);
$footer-color: #fff;
$footer-link-color: transparentize($footer-color, .6);
$footer-disclaimer-color: transparentize($footer-color, .6);

$footer-copy-font-size: .9em;

// Header
// ------

$header-background-color: $footer-background-color;
$header-color: #fff;
$header-link-color: transparentize($header-color, .6);

$navigation-height: 60px;
$navigation-logo-height: 2em;
