.body--index {
  @include radial-gradient(transparent, rgba(0, 0, 0, .2));

  @include animation-name(multicolour-background);
  @include animation-duration(45s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);

  background-color: $cape-code;
}

.page--index {
  color: $white;
  height: 100vh;
  margin: 0;
  text-align: center;

  h1 {
    font-size: ms(8);
    font-weight: 400;
  }

  h2 {
    font-size: ms(6);
    font-weight: 200;
  }

  ul {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    
    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  
  li {
    padding-top: .5rem;
    margin-bottom: .5rem;
  }

  a {
    color: $grey-lightest;
    font-size: ms(2);
    font-weight: 300;
    text-decoration: underline;

    &:hover {
      color: $grey-lighter;
      text-decoration: underline;
    }
  }
  
  .blog a {
    @include prefixer(text-decoration-color, $fire-bush, webkit moz ms o spec);
  }
  
  .lab a {
    @include prefixer(text-decoration-color, $cerulean, webkit moz ms o spec);
  }
  
  .red a {
    @include prefixer(text-decoration-color, $wild-watermelon, webkit moz ms o spec);
  }
  
  .life a {
    @include prefixer(text-decoration-color, $bitter-lemon, webkit moz ms o spec);
  }
  
  .photo a {
    @include prefixer(text-decoration-color, $cape-code, webkit moz ms o spec);
  }

  .logo,
  .header,
  .footer {
    @include padding(1rem);
  }

  .logo {
    height: 16rem;
    overflow: hidden;

    .logo-wrapper {
      @include radial-gradient(rgba(0, 0, 0, .2), transparent);

      height: 16rem;
      margin: 0 auto;
      padding: .5rem;
      width: 16rem;
    }

    img {
      width: 10rem;
    }
  }
  
  @include media($small-screen-up) {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    @include flex-flow(row wrap);
    @include justify-content(space-between);
  
    text-align: left;
  
    > * {
      @include flex(1 100%);
    }
  
    .logo,
    .header,
    .footer {
      padding-left: 5rem;
    }
  
    .logo {
      .logo-wrapper {
        margin: 0;
        text-align: center;
      }
    }
  
    a {
      @include linear-gradient(transparent, transparentize($cape-code, .8));
      @include border-radius(.25rem);
      @include padding(.25rem .5rem);
  
      border: 1px solid $grey-lightest;
      text-decoration: none;
    }
  
    .blog a {
      @include linear-gradient(transparent, transparentize($fire-bush, .8));
    }
  
    .lab a {
      @include linear-gradient(transparent, transparentize($cerulean, .8));
    }
  
    .red a {
      @include linear-gradient(transparent,
                               transparentize($wild-watermelon, .8));
    }
  
    .life a {
      @include linear-gradient(transparent, transparentize($bitter-lemon, .8));
    }
  
    .photo a {
      @include linear-gradient(transparent, transparentize($cape-code, .8));
    }
  
    a:hover {
      @include linear-gradient(transparent, rgba(255, 255, 255, .2));
  
      color: $grey-lightest;
      text-decoration: none;
    }
  }
}
