.body-index {
  @include radial-gradient(transparent, rgba(0, 0, 0, .2));

  @include animation-name(multicolour-background);
  @include animation-duration(45s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);

  background-color: $cape-code;
}

.page-index {
  height: 100vh;
  margin: 0;
  color: $white;
  text-align: center;

  h1 {
    @extend %display-3;
  }

  h2 {
    @extend %display-4;
  }

  ul {
    @extend %list-inline;
  }

  a {
    @include padding(.1rem);

    color: $gray-lightest;
    font-size: ms(2);
    font-weight: normal;

    &:hover {
      color: $gray-lighter;
      text-decoration: underline;
    }
  }

  .logo,
  .header,
  .footer {
    @include padding(1rem);
  }

  @include media-breakpoint-up(md) {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    @include flex-flow(row wrap);
    @include justify-content(space-between);

    text-align: left;

    > * {
      @include flex(1 100%);
    }

    .logo,
    .header,
    .footer {
      padding-left: 5rem;
    }
  }
}
