.body-index {
  @include radial-gradient(transparent, rgba(0, 0, 0, .2));

  @include animation-name(multicolour-background);
  @include animation-duration(45s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);

  background-color: $cape-code;
}

.page-index {
  height: 100vh;
  margin: 0;
  color: $white;
  text-align: center;

  h1,
  h2 {
    font-weight: 200;
  }

  ul {
    @extend %list-inline;
  }

  a {
    color: $gray-lightest;
    font-size: ms(2);
    font-weight: 300;

    &:hover {
      color: $gray-lighter;
      text-decoration: underline;
    }
  }
  
  @include media-breakpoint-up(md) {
    a {
      @include linear-gradient(transparent, rgba(0, 0, 0, .2));
      @include border-radius(.25rem);
      @include padding(.25rem .5rem);

      border: 1px solid $gray-lightest;

      &:hover {
        @include linear-gradient(transparent, rgba(255, 255, 255, .2));

        color: $gray-lightest;
        text-decoration: none;
      }
    }
  }

  .logo,
  .header,
  .footer {
    @include padding(1rem);
  }

  @include media-breakpoint-up(md) {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    @include flex-flow(row wrap);
    @include justify-content(space-between);

    text-align: left;

    > * {
      @include flex(1 100%);
    }

    .logo,
    .header,
    .footer {
      padding-left: 5rem;
    }
  }
}
