.page-gpg,
.page-otr {
  @extend %container;

  margin-top: 1rem;

  .page-header {
    @extend %page-header;
  }
  
  h1 {
    @extend %display-2;
  }

  blockquote {
    @extend %blockquote;
  }
  
  pre {
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: auto;
  }
}
