.c-btn {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid rgba($colour-white, 0.5);
  border-radius: 5px;

  &:hover {
    border: 1px solid rgba($colour-white, 0.75);
  }
}

.c-btn-group {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .c-btn {
    margin: .5rem;
  }
}
