@mixin list-group-variant($parent, $modifier, $value) {
  $container-bg-colour: mix($value, $colour-white, 5%);
  $container-text-colour: set-text-colour($container-bg-colour);

  #{$parent} {
    &--#{$modifier} {
      #{$parent}__item {
        color: $container-text-colour !important;
      }

      #{$parent}__icon {
        color: $value;
      }
    }
  }
}

@each $key, $value in $brand-colours {
  @include list-group-variant('.c-list-group', $key, $value);
}

@each $key, $value in $slide-varients {
  @include list-group-variant('.c-list-group', $key, $value);
}

$c-list-group-item-border: 1px solid $colour-grey-lighter;

.c-list-group {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 1rem;
  margin: 0;

  &__item {
    border: $c-list-group-item-border;
    border-top: none;
    display: block;
    padding: .75rem 1.25rem;
    margin: -1px;
    border: 1px solid rbga(0, 0, 0, .125);
    position: relative;
    text-decoration: none;

    &:first-of-type {
      border: $c-list-group-item-border;
    }

    &:hover {
      background-color: $colour-grey-lighter;
    }
  }
}
