.c-nav {
  @include position(fixed, null 0 0 0);

  background-color: #fff;
  height: 25px;
  width: 100%;

  &__list {
    display: block;
    list-style: none;
    margin: 0 auto;
  }

  &__item {
    display: inline-block;
    padding: 0 .5em;
  }

  &__link {
    color: set-text-colour(#fff);
    text-decoration: none;
  }

  @each $name, $colour in $slide-varients {
    &--#{$name} {
      background-color: darken($colour, 5%);
      color: set-text-colour($colour);

      .c-nav__link {
        color: set-text-colour($colour);
      }
    }
  }
}
