.c-talk-list {
  &__row {
    @include grid-container;
  }

  &__item {
    @include grid-column(12);

    margin-bottom: 1em;

    @include break {
      @include grid-column(4);
    }
  }
}

.c-talk {
  display: block;
  text-decoration: none;
  word-wrap: break-word;

  &__wrapper {
    width: 100%;
  }

  &__inner {
    width: 100%;
  }

  &__image {
    width: 100%;
  }

  &__body {
    padding: 0;
  }

  &__title,
  &__date,
  &__tags {
    margin: 0;
  }

  &__title {
    font-size: 1em;
  }

  &__date {
    font-weight: normal;
  }
}
