.c-title {
  &__name,
  &__slogan,
  &__copy {
    margin: 0;
  }

  &__name {
    font-size: modular-scale(4);

    @include break {
      font-size: modular-scale(6);
    }
  }

  &__slogan {
    font-size: modular-scale(1);

    @include break {
      font-size: modular-scale(2);
    }
  }

  &__copy {
    margin-top: 1em;

    @include break {
      font-size: modular-scale(1);
    }
  }

  &__btn-group {
    margin-top: 1em;
    text-align: center;

    @include break {
      font-size: modular-scale(1);
    }
  }
}
