.c-title {
  &__name,
  &__slogan,
  &__copy {
    margin: 0;
  }

  &__name {
    font-size: modular-scale(6);
  }

  &__slogan {
    font-size: modular-scale(2);
  }

  &__copy {
    font-size: modular-scale(1);
    margin-top: 1em;
  }

  &__btn-group {
    font-size: modular-scale(1);
    margin-top: 1em;
    text-align: center;
  }
}
