{% extends "bag.html" %}

{% block page_left %}
	<img src="static/img/avatar-small.png" class="img-thumbnail pull-right" itemprop="image">
{% endblock page_left %}

{% block page_right %}
	<h1 itemprop="name"><span itemprop="givenName">Myles</span> <span itemprop="familyName" class="muted hidden-phone">Braithwaite</span></h1>
	<p class="lead" itemprop="brand">Braithwaite Global&nbsp;Inc.</p>
	
	<dl class="dl-horizontal">
		<dt>Email</dt>
		<dd><a href="mailto:mbraithwaite@braithwaiteglobal.com" itemprop="email">mbraithwaite@braithwaiteglobal.com</a></dd>
		
		<dt>Phone</dt>
		<dd><a href="tel:+1-888-802-5999,,309" itemprop="telephone">+1 (888) 802-5999</a> extension 309</dd>
		
		<dt>Mobile</dt>
		<dd><a href="tel:+1-626-486-9537" itemprop="telephone">+1 (626) 486-9537</a></dd>
		
		<dt>Fax</dt>
		<dd><a href="tel:+1-888-802-5999" itemprop="faxNumber">+1 (888) 802-5999</a></dd>
		
		<dt>Address</dt>
		<dd>
			<address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<span itemprop="streetAddress">1700 West Loop South, Suite 230</span><br/>
				<span itemprop="addressLocality">Houston</span>, <span itemprop="addressRegion">Texas</span> <span itemprop="postalCode">77027</span>
			</address>
		</dd>
	</dl>
{% endblock page_right %}
