{% extends "bag.html" %}

{% block page_left %}
	<img src="static/img/avatar-small.png" itemprop="image">
{% endblock page_left %}

{% block page_right %}
	<h1 itemprop="name"><span itemprop="givenName">Myles</span> <span itemprop="familyName">Braithwaite</span></h1>
	<p class="lead" itemprop="worksFor">Braithwaite&nbsp;Technology Consultants&nbsp;Inc.</p>
	
	<dl class="dl-horizontal">
		<dt>Email</dt>
		<dd><a href="mailto:mbraithwaite@braithwaite.ca" itemprop="email">mbraithwaite@braithwaite.ca</a></dd>
		
		<dt>Phone</dt>
		<dd><a href="tel:+1-416-499-2861,,309" itemprop="telephone">+1 (416) 499-2861</a> extension 309</dd>
		
		<dt>Mobile</dt>
		<dd><a href="tel:+1-647-931-1562" itemprop="telephone">+1 (647) 931-1562</a></dd>
		
		<dt>Fax</dt>
		<dd><a href="tel:+1-416-499-8543" itemprop="faxNumber">+1 (416) 499-8543</a></dd>
		
		<dt>Address</dt>
		<dd>
			<address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<span itemprop="streetAddress">2235 Sheppard Ave. East, Suite 906</span><br/>
				<span itemprop="addressLocality">Toronto</span>, <span itemprop="addressRegion">Ontario</span> <span itemprop="postalCode">M2J 5B5</span>
			</address>
		</dd>
	</dl>
{% endblock page_right %}
