{% extends "base.html" %}

{% block nav_index %}<li class="active"><a href="index.html">Personal</a></li>{% endblock %}

{% block page_left %}
	<img src="static/img/avatar.png" class="img-polaroid pull-right">
{% endblock page_left %}

{% block page_right %}
	<h1>Myles Braithwaite</h1>
	<p class="lead">Hoping for the Best, Imagining the Worst.</p>
	
	<dl class="dl-horizontal" id="contact-info">
		<dt>Email</dt>
		<dd><a href="mailto:me@mylesbraithwaite.com">me@mylesbraithwaite.com</a></dd>
		
		<dt>Phone</dt>
		<dd><a href="tel:+1-647-931-1562">+1 (647) 931-1562</a></dd>
		
		<dt>Homepage</dt>
		<dd><a href="http://mylesbraithwaite.com/">http://mylesbraithwaite.com</a></dd>
	</dl>
	
	<p>
		<a href="https://www.twitter.com/mylesb">Twitter</a> &bull; <a href="https://www.facebook.com/mylesbraithwaite">Facebook</a>
	</p>

{% endblock page_right %}