{% extends "base.html" %}

{% block meta_robots %}index, follow{% endblock meta_robots %}

{% block page_left %}
	<img itemprop="image" src="static/img/avatar.png" class="img-polaroid pull-right">
{% endblock page_left %}

{% block page_right %}
	<h1 itemprop="name"><span itemprop="givenName">Myles</span> <span itemprop="familyName" class="muted hidden-phone">Braithwaite</span></h1>
	<p class="lead">Hoping for the Best, Imagining the Worst.</p>

	<p>I am Myles Braithwaite, a 20-something, living in Toronto, and working as a <span itemprop="jobTitle">computer programmer</span> for <a href="http://monkeyinyoursoul.com/" itemprop="brand">Monkey in your Soul</a>.</p>
	
	<dl class="dl-horizontal" id="contact-info">
		<dt>Email</dt>
		<dd><a href="mailto:me@mylesbraithwaite.com" itemprop="email">me@mylesbraithwaite.com</a></dd>
		
		<dt>Phone</dt>
		<dd itemprop="telephone"><a href="tel:+1-647-931-1562">+1 (647) 931-1562</a></dd>
		
		<dt>Homepage</dt>
		<dd><a href="http://mylesbraithwaite.com/" itemprop="url"><span class="muted">http://</span>mylesbraithwaite.com<span class="muted">/</span></a></dd>
	</dl>
	
	<ul class="inline text-center" id="social-networks">
		<li><a href="https://www.twitter.com/mylesb">Twitter</a></li>
		<li><a href="https://plus.google.com/101051575949997777035" rel="author">Google+</a></li>
		<li><a href="http://tumblr.mylesbraithwaite.com/" rel="author">Tumblr</a></li>
		<li><a href="https://www.facebook.com/mylesbraithwaite">Facebook</a></li>
		<li><a href="https://alpha.app.net/mylesb">App.net</a></li>
	</ul>

{% endblock page_right %}