{% extends "base.html" %}

{% block meta_robots %}index, follow{% endblock meta_robots %}

{% block body_id %}personal-{{ super() }}{% endblock %}

{% block page_left %}
	<img src="static/img/avatar-small.png" itemprop="image">
{% endblock page_left %}

{% block page_right %}
	<h1 itemprop="name"><span itemprop="givenName">Myles</span> <span itemprop="familyName">Braithwaite</span></h1>
	
	<p class="lead">Hoping for the Best, Imagining the Worst.</p>

	<p>I am Myles Braithwaite, a 20-something, living in Toronto, and working as a <span itemprop="jobTitle">computer programmer</span> for <a href="http://monkeyinyoursoul.com/" itemprop="brand">Monkey&nbsp;in&nbsp;your&nbsp;Soul</a>.</p>
	
	<dl id="contact-info">
		<dt>Email</dt>
		<dd><a href="mailto:me@mylesbraithwaite.com" itemprop="email">me@mylesbraithwaite.com</a></dd>
		
		<dt>Phone</dt>
		<dd itemprop="telephone"><a href="tel:+1-647-931-1562">+1 (647) 931-1562</a></dd>
		
		<dt>Homepage</dt>
		<dd><a href="http://mylesbraithwaite.com/" itemprop="url"><span class="muted">http://</span>mylesbraithwaite.com<span class="muted">/</span></a></dd>
	</dl>
	
	<ul id="social-networks">
		<li><a href="https://www.twitter.com/mylesb" rel="author">Twitter</a></li>
		<li><a href="https://plus.google.com/101051575949997777035" rel="author">Google+</a></li>
		<li><a href="http://tumblr.mylesbraithwaite.com/" rel="author">Tumblr</a></li>
		<li><a href="http://www.flickr.com/photos/mylesbraithwaite" rel="author">Flickr</a></li>
		<li><a href="https://www.facebook.com/mylesbraithwaite" rel="author">Facebook</a></li>
		<li><a href="https://alpha.app.net/mylesb" rel="author">App.net</a></li>
	</ul>
{% endblock page_right %}