{% extends "base.html" %}

{% block body_id %}miys-{{ super() }}{% endblock %}

{% block page_left %}
	<img src="static/img/avatar-suite-small.png" itemprop="image">
{% endblock page_left %}

{% block page_right %}
	<h1 itemprop="name"><span itemprop="givenName">Myles</span> <span itemprop="familyName">Braithwaite</span></h1>
	
	<p class="lead"><span itemprop="jobTitle">El Presidente</span> at <a href="http://monkeyinyoursoul.com/" itemprop="brand">Monkey in your Soul</a>.</p>
	
	<p>Monkey in your Soul is a small web consultanting company located in Toronto.</p>
	
	<dl id="contact-info" class="dl-horizontal">
		<dt>Email</dt>
		<dd><a href="mailto:myles@monkeyinyoursoul.com" itemprop="email">myles@monkeyinyoursoul.com</a></dd>
		
		<dt>Phone</dt>
		<dd itemprop="telephone"><a href="tel:+1-647-931-1562">+1 (647) 931-1562</a></dd>
	</dl>
{% endblock page_right %}