{% extends "base.html" %}

{% block meta_robots %}noindex, nofollow{% endblock meta_robots %}

{% block body_id %}sitemap-{{ super() }}{% endblock %}

{% block page %}
<div class="col-lg-6 col-offset-4" id="content">
	<h2>Sitemap</h2>

	<div class="list-group">
		<a class="list-group-item" href="index.html">Personal</a>
		<a class="list-group-item" href="miys.html">Monkey in your Soul</a>
		<a class="list-group-item" href="b-corp.html">Braithwaite Corp.</a>
    <a class="list-group-item" href="gpg.html">GPG Public Key</a>
  </div>
</div>
{% endblock %}
