---
title: 404 Page Not Found
---

<div class="page-header">
    <h1>Where am I?</h1>
    <p class="lead">Probably not where you want to be</p>
</div>

<p>This page doesn't exist.</p>

<p>You’re in a room. It’s dark. Silent. As your eyes become accustomed to the gloom you notice something on the wall opposite. Squinting, you read:</p>

<p><strong>404 Page Not Found</strong></p>

<p>It might be written in blood or something. I don’t know. This story’s gone on too long already.</p>

<p>What I’m trying to say is the page you’re looking for can’t be found. Sorry.</p>

<p>If you’re completely lost, try the <a href="{{ config.url }}{{ config.baseurl }}">home page</a>. If you think I’ve made some kind of mistake (as unlikely as that sounds) you should <a href="mailto:me@mylesb.ca">get in touch</a>.</p>
