---
title: About Myles Braithwaite
---

<div class="page__header">
    <div class="page__header-wrapper">
        <h1 class="page__title">About Myles</h1>
    </div>
</div>

<div class="page__content">
    <div class="page__content-wrapper">
        <p>I live in Toronto where I run a small consulting company called <a href="https://monkeyinyoursoul.com/">Monkey in your Soul</a> (you should hire me).</p>
    </div>
</div>
