---
title: About Myles Braithwaite
---

<div class="page__header">
    <div class="page__header-wrapper">
        <h1 class="page__title">About Myles</h1>
    </div>
</div>

<div class="page__content">
    <div class="page__content-wrapper">
        <p>I live in Toronto, Ontario, Canada where I run a small consulting company called <a href="https://monkeyinyoursoul.com/">Monkey in your Soul</a> (you should hire me). My interests range from <a href="https://myles.photo/">photography</a> to hiking. I am also interested in <a href="https://mylesbraithwaite.org/">programming</a>, <a href="https://myles.red/">music</a>, snowboarding, and films.</p>
    </div>
</div>
