---
title: Myles Braithwaite's Avatars
---

<div class="page-header">
    <h1>Myles' Avatars</h1>
</div>

<div class="row">
    <div class="avatar">
        <img src="/assets/images/avatar/hipster.png">
    </div>
    
    <div class="avatar">
        <img src="/assets/images/avatar/suite-and-tie.png">
    </div>
    
    <div class="avatar">
        <img src="/assets/images/avatar/formal.png">
    </div>
    
    <div class="avatar">
        <img src="/assets/images/avatar/pride.png">
    </div>
</div>
