---
title: Myles Braithwaite's GnuPG Public Key
---

<div class="page-header">
    <h1>Myles'&nbsp;GnuPG Public&nbsp;Key</h1>
</div>

<blockquote>
    <p>There are two types of encryption: one that will prevent your sister from reading your diary and one that will prevent your government.</p>
    <footer><cite>Bruce Schneier</cite></footer>
</blockquote>

<h2>My Public Key</h2>

<ul>
    <li>My publick key's fingerprint is <code class="fingerprint">6720 DB3C 03FF DDF1 3838  7D4A A49A 64DF 5B42 3590</code>.</li>
    <li>You can download my public key here: <code><a href="http://mylesb.ca/uploads/0x5B423590.asc">http://mylesb.ca/uploads/0x5B423590.asc</a></code>.</li>
    <li>I'm also on <a href="https://keybase.io/myles">keybase.io/myles</a>.</li>
</ul>

<h2>Want to Know More About GnuPG?</h2>

<ul>
    <li>Caleb Thompson's article on <a href="https://robots.thoughtbot.com/pgp-and-you">PGP and You</a> is a great place to start.</li>
    <li>Also the <addr title="Free Software Foundation">FSF</addr>'s guide to <a href="https://emailselfdefense.fsf.org/en/">Email Self-Defence</a> is also awesome for learning about how to send encrypted emails.</li>
    <li>Fedora Magazine has a good <a href="https://fedoramagazine.org/gnupg-a-fedora-primer/">GnuPG Primer for Fedora Linux</a>.</li>
</ul>

<h2>Proof of Identity</h2>

<p>Below is my proof of identity, you can also download it here: <code><a href="http://mylesb.ca/uploads/proof-of-identity.txt.asc">http://mylesb.ca/uploads/proof-of-identity.txt.asc</a></code> and verify it using <kbd>gpg --verify proof-of-identity.txt.asc</kbd>.</p>

<pre>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Date: 3rd December, 2015

My name is Myles Braithwaite and I use GnuPG.

My public key information is:
  ID: 0x5B423590
  Fingerprint: 6720 DB3C 03FF DDF1 3838  7D4A A49A 64DF 5B42 3590
-----BEGIN PGP SIGNATURE-----

iQIcBAEBCAAGBQJWZLSRAAoJEOxVwUtuLC13IisP/1AX02ADYLbhPvTwxmTj8S42
ulLXyImo8j8ethgmHa3d94OWyvmdFOJUAPZO0wvFvCyGP7lwL1ruIb8PF94wcxw2
XEWQGP8DsDdL4QL1pomfoJJFrhNuATyoo222fZfhFsBHO4dJ+6SIAtdWorFgEbW/
+PP23eGNhrUOUsiyXX0s7Jtf/BwO32uqJr2tyt7x+3eEdj/lQRs9Ycmv1HXbb+10
9qff8CCrwWmlru1oTI2SUWJOGmaGQowcW0DSZYr8dDvaNxmnnkMCDvQWVu6FtJbo
OmZD9tH+pwwqUtXzErFq5F8u2qSCzn3NZkXwVI5U0q+iM2cAhJNT6j6qe7QVVHlj
cPefev/DtNKY1rx1/W7WRpDmqWwuR0V0jllZg5x+Cl/dzJlIYbRjrNC50BW8SB0L
/G4cOqm+LX307J/uj/bitqX24kIf1tAuQhDBlmDal6ttHuBiWpFEGuzy2TjNj7nR
Ru3mbDtBycdDvB7JnwyQ7j/i+6OpTna9OobJpWnkIhTEgi56fY9X9GsSCzf+gD8M
3Mz+8KEjBbRZjRxoLj4x3DTGVOdI/tl+MGPC1R2RRPIHHbdHHl9n6uBj7GqXoba6
Gt5iVK3Bt3Svmiv2oNIiBHSA5Vamy/3mpNgN41lcXfqMCPvFpnJQKf9vqq/7NQEL
ppzHjRqpezYzbCj8HKzN
=kT4V
-----END PGP SIGNATURE-----
</pre>

<h2>Old Keys</h2>

<ul>
    <li>Used from 2013-08-12 to 2015-06-12: <a href="http://mylesb.ca/uploads/0x5A2FE7BF.asc">0x5A2FE7BF</a> - <a href="http://mylesb.ca/uploads/obsolete-0x5A2FE7BF-proof.txt.asc">Obsolete Proof</a></li>
</ul>
