---
title: Myles Braithwaite's GnuPG Public Key
---

<div class="page-header">
    <h1>Myles'&nbsp;GPG Public&nbsp;Key</h1>
</div>

<p class="lead">
    
</p>

<h2>My Public Key</h2>

<ul>
    <li>You can download my public key here: <code><a href="http://mylesb.ca/uploads/0x5B423590.asc">http://mylesb.ca/uploads/0x5B423590.asc</a></code>.</li>
    <li>I'm also on <a href="https://keybase.io/myles">keybase.io/myles</a>.</li>
</ul>

<h2>Want to Know More About GnuPG?</h2>

<ul>
    <li>Caleb Thompson's article on <a href="https://robots.thoughtbot.com/pgp-and-you">PGP and You</a> is a great place to start.</li>
    <li>Also the FSF's guide to <a href="https://emailselfdefense.fsf.org/en/">Email Self-Defense</a> is also awesome for learning about how to send encrypted emails.</li>
</ul>

<h2>Proof of Identity</h2>

<p>Below is my proof of identity, you can also download it here: <code><a href="http://mylesb.ca/uploads/proof-of-identity.txt.asc">http://mylesb.ca/uploads/proof-of-identity.txt.asc</a></code> and verify it using <kbd>gpg --verify proof-of-identity.txt.asc</kbd>.</p>

<pre>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Date: 3rd December, 2015

My name is Myles Braithwatie and I use GnuPG.

My public key information is:
  ID: 0x5B423590
  Fingerprint: 6720 DB3C 03FF DDF1 3838  7D4A A49A 64DF 5B42 3590

-----BEGIN PGP SIGNATURE-----

iQIcBAEBCAAGBQJWYesFAAoJEOxVwUtuLC13xWMP/RRwdc+P2pZUnxbveTBv+3LM
h3tyFKS/uZzEP55K+X50j4a2SGyqqRJVmBt6f+oMjrpVVekZMBAeM+VcV+5OzukM
5nwUmDAoIoPtHKt2tmdrQrhrR/QNKxn24IAaiZji6i1bFeBeSMHHZptHsQ3/Yimk
UdBBbLx5a1tlJ0UGf1j0/TVl8hmPiW4NDMlqKdGAz0QzDgjhupOKFHYStbsMq4/L
XGjbKmVulL4fAFuscTCYFUVfUpjiAgAZOlxxBZDSVsTkCCPSAj3XcPKpq/MN5tJi
Qa+7N1NZ6fu8sCRkLqUhuptiFvoDJ2EzeqoE/zVHdDdi8b1eb8brmnuHq710sFc5
tS3F025Sg39YAtGYdhqR6mM8KZhgkCNQgOe12Vr6nF3vzKq+UHju2RGMDxEfMjSI
zCNjbvsFLLgCsZMyXly1rYrFYaM/gMAd/LaXemzvSoSUSFlwxYZhokwN1d/HcyLH
/IcR0L86KwfRNQCkBwawC/s377qnv8JH6iLULaO86kYSOksYCFJO4JO9HHEMQtO9
Hf2eb5gjPa5qIuSWQdv++Q4xK5KXP9q7A/8Yr0Rd/8RZ2kBVzXJec89MzeC0PgkY
f+moCAcfc/ypp/mALEbnG+65qNLzz/N1S/CW0zIp/tcWeTSF9lUxpKh1YvkSadgh
YdI9W4HrjJ4sHot4J4y9
=uKmF
-----END PGP SIGNATURE-----
</pre>

<h2>Old Keys</h2>

<ul>
    <li>Used from 2013-08-12 to 2015-06-12: <a href="http://mylesb.ca/uploads/0x5A2FE7BF.asc">0x5A2FE7BF</a> - <a href="http://mylesb.ca/uploads/obsolete-0x5A2FE7BF-proof.txt.asc">Obsolete Proof</a></li>
</ul>
