<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Myles Braithwaite</title>

    <link rel="stylesheet" href="/assets/style.css">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="openid.delegate" href="https://mylesb.ca/">
    <link rel="openid.server" href="https://openid.indieauth.com/openid">

    <link href="https://twitter.com/mylesb" rel="me">
    <link href="https://facebook.com/mylesbraithwaite" rel="me">
    <link href="https://github.com/myles" rel="me">
    <link href="https://mylesb.ca/uploads/0x5B423590.asc" rel="pgpkey">

    <link rel="pingback" href="https://webmention.io/mylesb.ca/xmlrpc">
    <link rel="webmention" href="https://webmention.io/mylesb.ca/webmention">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#288ad6">
    <meta name="apple-mobile-web-app-title" content="Myles">
    <meta name="application-name" content="Myles">
    <meta name="msapplication-TileColor" content="#288ad6">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body class="mylesb-ca h-card">
    <div class="c-container">
      <section class="c-slide c-slide--title" id="title">
        <div class="c-slide__wrapper">
          {% include "_slides/01-title.njk" %}
        </div>
      </section>

      <section class="c-slide c-slide--elsewhere" id="elsewhere">
        <div class="c-slide__wrapper">
          <div class="c-slide__container">
            {% include "_slides/05-elsewhere.njk" %}
          </div>
        </div>
      </section>

      <section class="c-slide c-slide--talks" id="talks">
        <div class="c-slide__wrapper">
          <div class="c-slide__container">
            {% include "_slides/07-talks.njk" %}
          </div>
        </div>
      </section>

      <section class="c-slide c-slide--work" id="work">
        <div class="c-slide__wrapper">
          <div class="c-slide__container">
            {% include "_slides/02-work.njk" %}
          </div>
        </div>
      </section>

      <section class="c-slide c-slide--contact" id="contact">
        <div class="c-slide__wrapper">
          <div class="c-slide__container">
            {% include "_slides/04-contact.njk" %}
          </div>
        </div>
      </section>
    </div>

    <script src="/assets/script.js"></script>
  </body>
</html>
