---
title: Myles Braithwaite's OTR Fingerprints
---

<div class="page-header">
    <h1>Myles' OTR&nbsp;Fingerprints</h1>
</div>

<blockquote>
    <p>There are two types of encryption: one that will prevent your sister from reading your diary and one that will prevent your government.</p>
    <footer><cite>Bruce Schneier</cite></footer>
</blockquote>

<h2>Fingerprints</h2>

<dl>
    <dt>me@myles.coffee</dt>
    <dd>
        <ul>
            <li>Spider-Gwen: <code class="fingerprint">D8E1A450 DA738597 E9418B7A EBA0218C 77BB730B</code></li>
            <li>Captian-Marvel: <code class="fingerprint">F5DE6724 2D146E01 C684A32A FA93A95F C2B3AA10</code></li>
        </ul>
    </dd>
</dl>

<h2>Want to Know More About OTR?</h2>

<ul>
    <li>The Freedom of the Press Foundation has a good article about <a href="https://freedom.press/encryption-works" title="How to protect your privacy in the age of NSA surveillance">how encrypion works</a>.</li>
    <li>The <addr title="Electronic Frontier Foundation">EFF</addr> has tutorials on how to use OTR on <a href="https://ssd.eff.org/en/module/how-use-otr-mac" title="How to use OTR on Mac OS X">Mac OS X</a>, <a href="https://ssd.eff.org/en/module/how-use-otr-windows" title="How to use OTR on Windows">Windows</a>, <a href="https://ssd.eff.org/en/module/how-use-otr-linux" title="How to use OTR on Linux">Linux</a>, and <a href="https://ssd.eff.org/en/module/how-install-and-use-chatsecure" title="How to use OTR on iOS or Android">iOS or Android</a>.</li>
</ul>

<h2>Proof of Identity</h2>

<p>Below is my proof of identity, you can also download it here: <code><a href="{{ config.url }}{{ config.baseurl }}uploads/xmpp-otr-fingerprints.txt.asc">{{ config.url }}{{ config.baseurl }}uploads/xmpp-otr-fingerprints.txt.asc</a></code> and verify it using <kbd>gpg --verify xmpp-otr-fingerprints.txt.asc</kbd>.</p>

<pre>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Date: 23rd January, 2015

My name is Myles Braithwaite and I use XMPP's cryptographic protocol OTR.

JID: me@myles.coffee
    Spider-Gwen: D8E1A450 DA738597 E9418B7A EBA0218C 77BB730B
    Captain-Marvel: F5DE6724 2D146E01 C684A32A FA93A95F C2B3AA10
-----BEGIN PGP SIGNATURE-----

iQIcBAEBCAAGBQJWpAXJAAoJEOxVwUtuLC13nsEP/0CefQ+d8TBKYpVZ73e58ofb
psKjTkG+tum2OazIKl1GObsucYOe8uJYDGJC8EdmI4LIqzab7XbkAod9s3Dy5BOI
1BHK4lCsUiBBHEGTWOO58W65XVMjo7EwG5kV8VzGufCOjqkbnAuiam/RAsUuiQZZ
/1BcVRby/sAJy4wjprJk8o8eKfdVkN3qjehY5O3SFbvW7maQrUpJrwO9lhTRnQ4a
MdY4OEaPW8qdXWzjWazFq/n6/aU27EC6ySDssf4fCs/6jmMrX4iyUhmy5L/vTdbz
8o0ukpaOs3FUDqB5yuANzC054euVguVRuTZ//as5WFULsaVSEEL9ATllqcKPgsNI
Qhz/GwANZZIo3ToEVmzzj1O4MDOS0sfSLB6XHm+m4jMM038b726dIYqkDTFkdd6L
S/NAKqcB1y14P8wR4Q/GkgFGqRqfQw94IfWAEBmmZJgfJvr70YO7cidFPf+CQDIX
UdppefoJ+ZoK25PW8dUQ4DpJU74pOe1vh/qnyQELY8IaCoJcRrJQO9MXaUPT7Lja
ubiMJzkPDdi380iOEHonPlY6GgR9ms0IfEbrzR6drtp449CGSMgDq2vlIEDeRr5H
KyL6/1SmNIHtxp0NQgUMri7GQ9zdIy2CYZrgkKrVSbitMmid6txiWVBorD5QTtXO
VbmAcPLO/XKD1maKofIF
=iWVI
-----END PGP SIGNATURE-----
</pre>
