@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Francois+One);

@import "bootstrap/bootstrap.less";

@sansFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
/* @font-size-base: 16px; */

body {
	padding-top: 20px;
	background-color: transparent;
}

h1 { margin: 0; }

.container {
	.row {

		margin: 20px 0;
		padding: 20px 0;

		#content {
			padding: 1em;
			background-color: rgba(255, 255, 255, 0.9);
		}
	}
}

@media (min-width: @screen-tablet) {
	html {
		background: url(../img/skyline.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: @screen-tablet-max) {

	.container .row #content { background-color: transparent;}

	.container .row { background-color: rgba(255, 255, 255, 0.9); }
}

@media (max-width: @screen-tiny) {

	body {
		padding-top: 0;
	}

	.container {
		.row {
			margin: 0;
			padding: 0;
		}
	}

	.dl-horizontal {
		dt {
			float: none;
			clear: none;
			width: auto;
			text-align: left;
		}
		dd {
			margin-left: 0;
		}
	}
}

#personal-mylesb-ca {
	h1, p.lead { font-family: 'Josefin Sans', @sansFontFamily; }
}

#bcorp-mylesb-ca {
	h1, p.lead { font-family: 'Francois One', @sansFontFamily; }
}

#miys-mylesb-ca {
	h1, p.lead { font-family: Futura, @sansFontFamily; }
}