@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Francois+One);

@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

@sansFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;

h1 { margin-top: 0; }

.container { margin-top: @baseLineHeight; }

#personal-mylesb-ca {
	h1, p.lead { font-family: 'Josefin Sans', @sansFontFamily; }
}

#bcorp-mylesb-ca {
	h1, p.lead { font-family: 'Francois One', @sansFontFamily; }
}

#miys-mylesb-ca {
	h1, p.lead { font-family: Futura, @sansFontFamily; }
}