<header class="mast-head">
    <div class="wrapper">
        <nav class="nav-collapse" role="navigation">
            <ul class="site-info">
                <li><a class="scoll-on-page-link" href="#home" title="MylesB.ca">{{ site.name }}</a></li>
            </ul>
            
            <ul class="site-links">
                <li><a class="scoll-on-page-link" href="#home" title="MylesB.ca">Home</a></li>
                <li><a class="scoll-on-page-link" href="#about" title="About Myles Braithwaite">About</a></li>
                <li><a class="scoll-on-page-link" href="#elsewhere" title="Where to find Myles Braithwaite on the Internet">Elsewhere</a></li>
                <li><a class="scoll-on-page-link" href="#contact" title="Contact Myles Braithwaite">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
