<div class="panel panel-elsewhere background-{{elsewhere.background}}" id="elsewhere">
    <div class="container">
        <div class="content">
            <article>
                <p class="type">Elsewhere</p>
                
                <h1>Other Web Sites I Manage</h1>
                
                <hr>
                
                <ul>
                    {{#each elsewhere.portfolio}}
                    <li><a href="{{url}}">{{name}}</a><!-- {{#if copy}} - {{#markdown }}{{copy}}{{/markdown }}{{/if}}--></li>
                    {{/each}}
                </ul>
            </atricle>
        </div>
    </div>
</div>
