// Colour Palletts
// ---------------

$colour-white: rgb(255, 255, 255);
$colour-black: rgb(0, 0, 0);

// Grey Palette
$colour-grey-dark: rgb(41, 43, 44);
$colour-grey: rgb(70, 74, 76);
$colour-grey-light: rgb(99, 108, 114);
$colour-grey-lighter: rgb(236, 238, 239);
$colour-grey-lightest: rgb(247, 247, 249);

// Primary Palette
$colour-big-stone: rgb(20, 43, 68);
$colour-chambray: rgb(29, 80, 141);
$colour-lochmara: rgb(40, 138, 214);
$colour-caribbean-green: rgb(22, 201, 141);
$colour-paris-daisy: rgb(254, 239, 109);
$colour-saffron: rgb(255, 200, 63);
$colour-carnation: rgb(250, 94, 91);
$colour-mulberry: rgb(191, 83, 141);

// Secondary Palette
$colour-trendy-pink: rgb(104, 78, 121);
$colour-brink-pink: rgb(255, 112, 142);
$colour-keppel: rgb(71, 168, 153);
$colour-malibu: rgb(138, 190, 229);
$colour-caper: rgb(199, 230, 170);
$colour-chino: rgb(207, 203, 175);
$colour-buccaneer: rgb(88, 44, 43);
$colour-falu-red: rgb(132, 30, 27);

// List
$colour-palette: (
  colour-white: $colour-white,
  colour-black: $colour-black,

  colour-grey-dark: $colour-grey-dark,
  colour-grey: $colour-grey,
  colour-grey-light: $colour-grey-light,
  colour-grey-lighter: $colour-grey-lighter,
  colour-grey-lightest: $colour-grey-lightest,

  colour-big-stone: $colour-big-stone,
  colour-chambray: $colour-chambray,
  colour-lochmara: $colour-lochmara,
  colour-caribbean-green: $colour-caribbean-green,
  colour-paris-daisy: $colour-paris-daisy,
  colour-saffron: $colour-saffron,
  colour-carnation: $colour-carnation,
  colour-mulberry: $colour-mulberry,

  colour-trendy-pink: $colour-trendy-pink,
  colour-brink-pink: $colour-brink-pink,
  colour-keppel: $colour-keppel,
  colour-malibu: $colour-malibu,
  colour-caper: $colour-caper,
  colour-chino: $colour-chino,
  colour-buccaneer: $colour-buccaneer,
  colour-falu-red: $colour-falu-red
);
