.body--index {
  @include radial-gradient(transparent, rgba(0, 0, 0, .2));

  @include animation-name(multicolour-background);
  @include animation-duration(45s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);

  background-color: $cape-code;
}

.landing {
  color: $white;
  margin: 0;
  text-align: center;

  @at-root #{&}__wrapper {
    @include media($small-screen-up) {
      @include display(flex);
      @include flex-direction(column);
      @include align-items(center);
      @include flex-flow(row wrap);
      @include justify-content(space-between);

      height: 100vh;
      text-align: left;
    }
  }

  @at-root #{&}__section {
    @include padding(1rem);

    @include media($small-screen-up) {
      @include flex(1 100%);

      padding-left: 5rem;
    }
  }

  @at-root #{&}__logo {
    height: 16rem;
    overflow: hidden;

    @at-root #{&}-wrapper {
      @include radial-gradient(rgba(0, 0, 0, .2), transparent);

      height: 16rem;
      margin: 0 auto;
      padding: .5rem;
      width: 16rem;

      @include media($small-screen-up) {
        margin: 0;
        text-align: center;
      }
    }

    @at-root #{&}-image {
      width: 10rem;
    }
  }

  @at-root #{&}__heading {
    margin-bottom: .25em;
    margin-top: .25em;

    @at-root #{&}--large {
      font-size: ms(6);
      font-weight: 400;

      @include media($small-screen-up) {
        font-size: ms(8);
      }
    }

    @at-root #{&}--small {
      font-size: ms(4);
      font-weight: 200;

      @include media($small-screen-up) {
        font-size: ms(6);
      }
    }
  }
}
