// Colours
// -------

// Local Palette
$cape-code: rgb(63, 80, 76);
$wild-watermelon: rgb(255, 81, 115);
$fire-bush: rgb(237, 160, 52);
$bitter-lemon: rgb(198, 225, 0);
$cerulean: rgb(36, 165, 212);

// Complements
$cape-code-complement: complement($cape-code);
$wild-watermelon-complement: complement($wild-watermelon);
$fire-bush-complement: complement($fire-bush);
$bitter-lemon-complement: complement($bitter-lemon);
$cerulean-complement: complement($cerulean);

// Inverts
$cape-code-invert: invert($cape-code);
$wild-watermelon-invert: invert($wild-watermelon);
$fire-bush-invert: invert($fire-bush);
$bitter-lemon-invert: invert($bitter-lemon);
$cerulean-invert: invert($cerulean);

// Highlight
$highlight-yellow: rgb(243, 243, 21);
$highlight-blue: rgb(13, 213, 252);
$highlight-pink: rgb(255, 0, 153);
$highlight-green: rgb(131, 245, 44);
$highlight-orange: rgb(255, 103, 0);

// Neutral Colours
$gray: #55595c;
$white: #fff;
$black: #000;

// Gary Colours
$gray-dark: darken($gray, 20);
$gray-light: lighten($gray, 20);
$gray-lighter: lighten($gray, 40);
$gray-lightest: lighten($gray, 60);

// Primary Colour
$primary-color: $cerulean !default;

// Secondary Colours
$sucess-color: $bitter-lemon !default;
$warning-color: $fire-bush !default;
$danger-color: $wild-watermelon !default;
$info-color: $cerulean !default;

// Social Brand Colours
$twitter-color: #00b4f3;
$facebook-color: #3c569a;
$google-plus-color: #df4a32;
$instagram-color: #211f20;
$rss-color: #f16522;

// Transparent Colours
$transparent-black-25: rgba(0, 0, 0, .25);
$transparent-black-50: rgba(0, 0, 0, .50);
$transparent-black-75: rgba(0, 0, 0, .75);

$transparent-white-25: rgba(255, 255, 255, .25);
$transparent-white-50: rgba(255, 255, 255, .50);
$transparent-white-75: rgba(255, 255, 255, .75);

$colors: ('cape-code', $cape-code),
         ('wild-watermelon', $wild-watermelon),
         ('fire-bush', $fire-bush),
         ('bitter-lemon', $bitter-lemon),
         ('cerulean', $cerulean),
         ('gray', $gray),
         ('white', $white),
         ('black', $black),
         ('gray-black', $gray-dark),
         ('gray-light', $gray-light),
         ('gray-lighter, '$gray-lighter),
         ('gray-lightest', $gray-lightest),
         ('primary-color', $primary-color),
         ('sucess-color', $sucess-color),
         ('warning-color', $warning-color),
         ('danger-color', $danger-color),
         ('instagram-color', $instagram-color),
         ('twitter-color', $twitter-color),
         ('info-color', $info-color),
         ('facebook-color', $facebook-color),
         ('rss-color', $rss-color),
         ('google-plus-color', $google-plus-color),
         ('cape-code-complement', $cape-code-complement),
         ('wild-watermelon-complement', $wild-watermelon-complement),
         ('fire-bush-complement', $fire-bush-complement),
         ('bitter-lemon-complement', $bitter-lemon-complement),
         ('cerulean-complement', $cerulean-complement),
         ('cape-code-invert', $cape-code-invert),
         ('wild-watermelon-invert', $wild-watermelon-invert),
         ('fire-bush-invert', $fire-bush-invert),
         ('bitter-lemon-invert', $bitter-lemon-invert),
         ('cerulean-invert', $cerulean-invert);

// Body
// ----

$body-bg: $white !default;
$body-color: $gray-dark !default;

// Spacing
// -------

$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$border-width: 1px !default;

// Links
// -----

$link-color: $primary-color !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Grid Breakpoints
// ----------------

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
) !default;

$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1200px;

// Typography
// ----------

// Font Family
$font-family-sans-serif: "Proxima Nova", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Vollkorn", Georgia, "Times New Roman", Times, serif !default;
$font-family-slab: "Alfa Slab One", $font-family-serif;
$font-family-monospace: "Hack", Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

// Font Size
$font-size-root: (
  null: 16px,
  sm: 17px,
  md: 18px,
  lg: 19px,
  xl: 20px
) !default;

$font-size-base: 1rem !default;
$font-size-lg: 1.2rem !default;
$font-size-sm: .875rem !default;
$font-size-xs: .75rem !default;

$ms-base: $font-size-base;
$ms-ratio: $minor-third, $major-second;

$font-size-h1: ms(7);
$font-size-h2: ms(6);
$font-size-h3: ms(5);
$font-size-h4: ms(4);
$font-size-h5: ms(3);
$font-size-h6: ms(2);

$display1-size: ms(14);
$display2-size: ms(12);
$display3-size: ms(10);
$display4-size: ms(8);

$display1-weight: 300;
$display2-weight: 300;
$display3-weight: 300;
$display4-weight: 300;

$line-height: 1.5 !default;

$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

$lead-font-size: 1.25rem !default;
$lead-font-weight: 300 !default;

$text-muted: $gray-light !default;

$abbr-border-color: $gray-light !default;

$blockquote-small-color: $gray-light !default;
$blockquote-font-family: $font-family-base;
$blockquote-font-size: ($font-size-base * 1.25) !default;
$blockquote-border-color: $gray-lighter !default;

$hr-border-color: rgba(0, 0, 0, .1) !default;
$hr-border-width: $border-width !default;

// Components
// ----------

$line-height-lg: (4 / 3) !default;
$line-height-sm: 1.5 !default;

$border-radius: .25rem !default;
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;

$component-active-color: #fff !default;
$component-active-bg: $primary-color !default;

$caret-width: .3em !default;
$caret-width-lg: $caret-width !default;

// Page
$page-header-border-color: $gray-lighter;

// Navigation
$navigation-padding: 1em !default;
$navigation-background: $gray-dark !default;
$navigation-color: transparentize($white, .3) !default;
$navigation-color-hover: $white !default;
$navigation-height: 4rem !default;
$navigation-nav-button-background: $primary-color !default;
$navigation-nav-button-background-hover: lighten($navigation-background, 10%) !default;
$navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%) !default;
$navigation-search-background: lighten($navigation-background, 5) !default;
$navigation-search-border: 1px solid darken($navigation-background, 5) !default;
$navigation-active-link-color: transparentize($white, .5) !default;
$navigation-submenu-padding: 1em !default;
$navigation-submenu-width: 12em !default;
$navigation-horizontal-bar-mode: 'sm' !default;

// Footer
$footer-background: $navigation-background !default;
$footer-padding: $navigation-padding !default;
$footer-link-color: $navigation-color !default;
$footer-link-color-hover: transparentize($footer-link-color, 0) !default;
$footer-disclaimer-color: $navigation-color !default;
$footer-heart-color: #da3a35 !default;
$footer-break-size: 'sm' !default;

// Tables
$table-cell-padding: .75rem !default;
$table-sm-cell-padding: .3rem !default;

$table-bg: transparent !default;
$table-bg-accent: #f9f9f9 !default;
$table-bg-hover: #f5f5f5 !default;
$table-bg-active: $table-bg-hover !default;

$table-border-color: $gray-lighter !default;

// Breadcrumb
$breadcrumb-border-color: $gray-lighter !default;
$breadcrumb-border: 1px solid $breadcrumb-border-color;
$breadcrumb-height: $spacer * 1.5;
$breadcrumb-arrow-color: $breadcrumb-border-color;
$breadcrumb-background: $white;
$breadcrumb-inactive-hover-color: $breadcrumb-background;
$breadcrumb-color: $gray;
$breadcrumb-color-hover: $primary-color;
$breadcrumb-color-active: $breadcrumb-color;
$breadcrumb-border-radius: 3px;

// Pagination
$pagination-border-color: #dcdcdc;
$pagination-border: 1px solid $pagination-border-color;
$pagination-background: lighten($pagination-border-color, 10);
$pagination-hover-background: lighten($pagination-background, 5);
$pagination-color: #444;

// Code
$code-color: #bd4147;
$code-bg: #f7f7f9;

$kbd-color: $white;
$kbd-bg: $gray-dark;

$pre-bg: #f7f7f9;
$pre-color: $gray-dark;
$pre-border-color: #ccc;
$pre-scrollable-max-height: 340px;
