.card-list {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.card {
  @include flex-basis(10em);
  @include flex-grow(1);

  background: #f5f5f5;
  margin: .5em 1em;

  @at-root #{&}__media {
    background: darken(#f5f5f5, 5%);
    overflow: hidden;
    max-width: 20em;
    max-height: 20em;
    margin: 0 auto;

    @include media($small-screen-up) {
      min-width: 15em;
      min-height: 15em;
      max-width: 40em;
      max-height: 40em;
    }
  }
  
  @at-root #{&}__image {
    width: 100%;
  }
  
  @at-root #{&}__header,
           #{&}__copy {
    padding-left: .5em;
    padding-right: .5em;
  }
}
