.form {
  @at-root #{&}__group {
    border-top: 1px solid;

    @at-root #{&}-wrapper {
      margin: .5em .25em;
    }

    @at-root #{&}--right-border {
      border-right: 1px solid;
    }
  }

  @at-root #{&}__label {
    color: $grey;
    display: block;
    padding-bottom: .25em;
    text-transform: uppercase;
  }

  @at-root #{&}__control {
    font-size: 1em;
    width: 100%;

    @at-root #{&}--recaptcha {
      div {
        margin: 0 auto;
      }
    }
  }
  
  @at-root #{&}__output {
    float: right;
    color: $grey;
  }
}
