.list {
  @at-root #{&}--unstyled,
           #{&}--inline {
    list-style: none;
    padding-left: 0;
  }

  @at-root #{&}__item {
    @at-root #{&}--inline {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}

.list-group {
  margin-bottom: 0;
  padding-left: 0;

  @at-root #{&}__item {
    background-color: $grey-lightest;
    border: 1px solid $grey-light;
    display: block;
    margin-bottom: -1px;
    padding: .75em 1.25em;
    position: relative;

    &:fist-child {
      @include border-radius(5px);
    }

    &:last-child {
      @include border-radius(5px);
    }

    &:hover {
      background-color: $grey-light;
    }

    // @at-root #{&}--disabled {}
    // @at-root #{&}--active {}
  }
}
