<h2>GPG and SSH Public Keys</h2>

<blockquote>
  <p>There are two types of encryption: one that will prevent your sister from reading your diary and one that will prevent your government.</p>

  <cite>Bruce Schneier</cite>
</blockquote>

<h3>GPG public key</h3>

<ul>
  <li>My public key's fingerprint is <code>6720 DB3C 03FF DDF1 3838 7D4A A49A 64DF 5B42 3590</code>.</li>
  <li>You can download my public key here: <a href="https://mylesb.ca/uploads/0x5B423590.asc" rel="pgpkey">https://mylesb.ca/uploads/0x5B423590.asc</a>.</li>
</ul>

<h4>Want to know more about GnuPG?</h4>

<ul>
  <li>Caleb Thompson's article on <a href="https://robots.thoughtbot.com/pgp-and-you">PGP and You</a> is a great place to start.</li>
  <li>Also the <addr title="Free Software Foundation">FSF</addr>'s guide to <a href="https://emailselfdefense.fsf.org/en/">Email Self-Defence</a> is also awesome for learning about how to send encrypted emails.</li>
  <li>Fedora Magazine has a good <a href="https://fedoramagazine.org/gnupg-a-fedora-primer/">GnuPG Primer for Fedora Linux</a>.</li>
</ul>

<h4>Proof of identity</h4>

My proof of identity can be download here: <a href="https://mylesb.ca/uploads/proof-of-identity.txt.asc">https://mylesb.ca/uploads/proof-of-identity.txt.asc</a> and verify it using <code>gpg --verify proof-of-identity.txt.asc</code>.

<h4>Other GPG keys I use</h4>

<dl>
  <dt>
    <strong>Monkey in your Soul</strong> and <strong>Braithwaite Corp</strong>.
  </dt>
  <dd>
    <ul>
      <li>My work's public key fingerprint is <code>F76C A564 312A 6DC7 40BC 6976 D401 1C81 7E02 05AA</code>.</li>
      <li>You can download my public key here: <code><a href="https://mylesb.ca/uploads/0x7E0205AA.asc">https://mylesb.ca/uploads/0x7E0205AA.asc</a></code>.</li>
      <li>I'm also on <a href="https://keybase.io/mbraithwaite">keybase.io/mbraithwaite</a>.</li>
    </ul>
  </dd>
  <dt>
    <strong>Braithwaite Network</strong>
  </dt>
  <dd>
    <ul>
      <li>My Braithwaite Network public key fingerprint is <code>7BD0 89EC CAA6 0BFB 6B38 F67F B1F7 4EB8 72C8 9F91</code>.</li>
      <li>You can download my public key here: <code><a href="https://mylesb.ca/uploads/0x72C89F91.asc">https://mylesb.ca/uploads/0x72C89F91.asc</a></code>.</li>
    </ul>
  </dd>
</dl>
