<div class="c-nav">
  <ul class="c-nav__list">
    <li class="c-nav__item">
      <a href="#title" class="c-nav__link">
        Home
      </a>
    </li>

    <li class="c-nav__item">
      <a href="#work" class="c-nav__link">
        Work
      </a>
    </li>

    <li class="c-nav__item">
      <a href="#projects" class="c-nav__link">
        Projects
      </a>
    </li>

    <li class="c-nav__item">
      <a href="#contact" class="c-nav__link">
        Contact
      </a>
    </li>

    <li class="c-nav__item">
      <a href="#elsewhere" class="c-nav__link">
        Elsewhere
      </a>
    </li>

    <li class="c-nav__item">
      <a href="#public-keys" class="c-nav__link">
        Public Keys
      </a>
    </li>
  </ul>

</div>
