%footer {
  background: $footer-background;
  padding: ($footer-padding * 2) $gutter;
  
  .logo {
    margin-bottom: 2em;
    text-align: center;
    
    img {
      @include size(5em);
    }
  }
  
  .links {
    @include clearfix;

    display: none;
    margin-bottom: $footer-padding;
    
    @include media-breakpoint-up($footer-break-size) {
      @include shift(3);
      display: block;
    }
  }
  
  ul {
    margin-bottom: $footer-padding;
    padding: 0;
    
    @include media-breakpoint-up($footer-break-size) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
  }
  
  li {
    line-height: 1.5em;
    list-style: none;
    text-align: center;
    
    @include media-breakpoint-up($footer-break-size) {
      text-align: left;
    }
    
    a {
      color: $footer-link-color;
      text-decoration: none;
    }
    
    a:focus,
    a:hover {
      color: $footer-link-color-hover;
    }
    
    h3 {
      color: $footer-link-color;
      font-size: 1em;
      font-weight: 800;
      margin-bottom: .4em;
    }
  }
  
  hr {
    border: 1px solid transparentize($footer-disclaimer-color, .3);
    margin: 0 auto $footer-padding;
    width: 12em;
  }
  
  p {
    color: $footer-disclaimer-color;
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
    
    a {
      color: $footer-link-color;
    }
    
    a:focus,
    a:hover {
      color: $footer-link-color-hover;
    }
  }
  
  .heart {
    @include size(1.5em);
    vertical-align: middle;
    
    * {
      fill: $footer-heart-color;
      stroke: $footer-heart-color;
    }
  }
}
