%highlight {
  $highlight-background: #fff !default;

  background: $highlight-background;

  @mixin type-styles($map) {
    @each $property, $value in $map {
      #{$property}: $value;
    }
  }

  $highlight-comment: (
    background-color: transparent,
    color: #998,
    font-style: itlaic,
  ) !default;

  .c { @include type-styles($highlight-comment); }

  $highlight-error: (
    background-color: #a61717,
    color: #e3d2d2
  ) !default;

  .err { @include type-styles($highlight-error); }

  $highlight-keyword: (
    font-weight: bold
  ) !default;

  .k { @include type-styles($highlight-keyword); }

  $highlight-operator: (
    font-weight: bold
  ) !default;

  .o { @include type-styles($highlight-operator); }

  $highlight-comment-multiline: (
    color: #998,
    font-style: italic
  ) !default;

  .cm { @include type-styles($highlight-comment-multiline); }

  $highlight-comment-preproc: (
    color: #999,
    font-weight: bold
  ) !default;

  .cp { @include type-styles($highlight-comment-preproc); }

  $highlight-comment-single: (
    color: #998,
    font-style: italic
  ) !default;

  .c1 { @include type-styles($highlight-comment-single); }

  $highlight-comment-special: (
    color: #999,
    font-weight: bold,
    font-style: italic
  ) !default;

  .cs { @include type-styles($highlight-comment-special); }

  $highlight-generic-deleted: (
    color: #000,
    background-color: #fdd
  ) !default;

  $highlight-generic-deleted-specific: (
    color: #000,
    background-color: #faa
  ) !default;

  .gd {
    @include type-styles($highlight-generic-deleted);

    .x { @include type-styles($highlight-generic-deleted-specific); }
  }

  $highlight-generic-emph: (
    font-style: italic
  ) !default;

  .ge { @include type-styles($highlight-generic-emph); }

  $highlight-generic-error: (
    color: #a00
  ) !default;

  .gr { @include type-styles($highlight-generic-error); }

  $highlight-generic-heading: (
    color: #999
  ) !default;

  .gh { @include type-styles($highlight-generic-heading); }

  $highlight-generic-inserted: (
    color: #000,
    background-color: #dfd
  ) !default;

  $highlight-generic-inserted-specific: (
    color: #000,
    background-color: #afa
  ) !default;

  .gi {
    @include type-styles($highlight-generic-inserted);

    .x { @include type-styles($highlight-generic-inserted-specific); }
  }

  $highlight-generic-output: (
    color: #888
  ) !default;

  .go { @include type-styles($highlight-generic-output); }

  $highlight-generic-prompt: (
    color: #555
  ) !default;

  .gp { @include type-styles($highlight-generic-prompt); }

  $highlight-generic-strong: (
    font-weight: bold
  ) !default;

  .gs { @include type-styles($highlight-generic-strong); }

  $highlight-generic-subheading: (
    color: #aaa
  ) !default;

  .gu { @include type-styles($highlight-generic-subheading); }

  $highlight-generic-traceback: (
    color: #a00
  ) !default;

  .gt { @include type-styles($highlight-generic-traceback); }

  $highlight-keyword-constant: (
    font-wight: bold
  ) !default;

  .kc { @include type-styles($highlight-keyword-constant); }

  $highlight-keyword-declaration: (
    font-weight: bold
  ) !default;

  .kd { @include type-styles($highlight-keyword-declaration); }

  $highlight-keyword-pseudo: (
    font-weight: bold
  ) !default;

  .kp { @include type-styles($highlight-keyword-pseudo); }

  $highlight-keyword-reserved: (
    font-weight: bold
  ) !default;

  .kr { @include type-styles($highlight-keyword-reserved); }

  $highlight-keyword-type: (
    color: #458,
    font-weight: bold
  ) !default;

  .kt { @include type-styles($highlight-keyword-type); }

  $highlight-literal-number: (
    color: #099
  ) !default;

  .m { @include type-styles($highlight-literal-number); }

  $highlight-literal-string: (
    color: #d14
  ) !default;

  .s { @include type-styles($highlight-literal-string); }

  $highlight-name-attribute: (
    color: #008080
  ) !default;

  .na { @include type-styles($highlight-name-attribute); }

  $highlight-name-builtin: (
    color: #0086b3
  ) !default;

  .nb { @include type-styles($highlight-name-builtin); }

  $highlight-name-class: (
    color: #458,
    font-weight: bold
  ) !default;

  .nc { @include type-styles($highlight-name-class); }

  $highlight-name-constant: (
    color: #008080
  ) !default;

  .no { @include type-styles($highlight-name-constant); }

  $highlight-name-entity: (
    color: #800080
  ) !default;

  .ni { @include type-styles($highlight-name-entity); }

  $highlight-name-exception: (
    color: #900,
    font-weight: bold
  );

  .ne { @include type-styles($highlight-name-exception); }

  $highlight-name-function: (
    color: #900,
    font-weight: bold
  ) !default;

  .nf { @include type-styles($highlight-name-function); }

  $highlight-name-namespace: (
    color: #555
  ) !default;

  .nn { @include type-styles($highlight-name-namespace); }

  $highlight-name-tag: (
    color: #000080
  ) !default;

  .nt { @include type-styles($highlight-name-tag); }

  $highlihgt-name-variable: (
    color: #008080
  ) !default;

  .nv { @include type-styles($highlihgt-name-variable); }

  $highlight-operator-word: (
    font-weight: bold
  ) !default;

  .ow { @include type-styles($highlight-operator-word); }

  $highlight-text-whitespace: (
    color: #bbb
  ) !default;

  .w { @include type-styles($highlight-text-whitespace); }

  $highlight-literal-number-float: (
    color: #099
  ) !default;

  .mf { @include type-styles($highlight-literal-number-float); }

  $highlight-literal-number-hex: (
    color: #099
  ) !default;

  .mh { @include type-styles($highlight-literal-number-hex); }

  $highlight-literal-number-integer: (
    color: #099
  ) !default;

  .mi { @include type-styles($highlight-literal-number-integer); }

  $highlight-liternal-number-oct: (
    color: #099
  ) !default;

  .mo { @include type-styles($highlight-liternal-number-oct); }

  $highlight-literal-string-backtick: (
    color: #d14
  ) !default;

  .sb { @include type-styles($highlight-literal-string-backtick); }

  $highlight-literal-string-char: (
    color: #d14
  ) !default;

  .sc { @include type-styles($highlight-literal-string-char); }

  $highlight-literal-string-doc: (
    color: #d14
  ) !default;

  .sd { @include type-styles($highlight-literal-string-doc); }

  $highlight-literal-string-double: (
    color: #d14
  ) !default;

  .s2 { @include type-styles($highlight-literal-string-double); }

  $highlight-literal-string-escape: (
    color: #d14
  ) !default;

  .se { @include type-styles($highlight-literal-string-escape); }

  $highlight-literal-string-heredoc: (
    color: #d14
  ) !default;

  .sh { @include type-styles($highlight-literal-string-heredoc); }

  $highlight-literal-string-interpol: (
    color: #d14
  ) !default;

  .si { @include type-styles($highlight-literal-string-interpol); }

  $highlight-literal-string-other: (
    color: #d14
  ) !default;

  .sx { @include type-styles($highlight-literal-string-other); }

  $highlight-literal-string-regex: (
    color: #009926
  ) !default;

  .sr { @include type-styles($highlight-literal-string-regex); }

  $highlight-literal-string-single: (
    color: #d14
  ) !default;

  .s1 { @include type-styles($highlight-literal-string-single); }

  $highlight-string-symbol: (
    color: #990073
  ) !default;

  .ss { @include type-styles($highlight-string-symbol); }

  $highlight-builtin-pseudo: (
    color: #999
  ) !default;

  .bp { @include type-styles($highlight-builtin-pseudo); }

  $highlight-name-variable-class: (
    color: #008080
  ) !default;

  .vc { @include type-styles($highlight-name-variable-class); }

  $highlight-name-variable-global: (
    color: #008080
  ) !default;

  .vg { @include type-styles($highlight-name-variable-global); }

  $highlight-name-variable-instance: (
    color: #008080
  ) !default;

  .vi { @include type-styles($highlight-name-variable-instance); }

  $highlight-literal-number-integer-long: (
    color: #099
  ) !default;

  .il { @include type-styles($highlight-comment); }
}
