// Headings
// --------

%base-heading {
  color: $headings-color;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  margin-bottom: $headings-margin-bottom;
}

%heading-1 {
  @extend %base-heading;
  font-size: $font-size-h1;
}

%heading-2 {
  @extend %base-heading;
  font-size: $font-size-h2;
}

%heading-3 {
  @extend %base-heading;
  font-size: $font-size-h3;
}

%heading-4 {
  @extend %base-heading;
  font-size: $font-size-h4;
}

%heading-5 {
  @extend %base-heading;
  font-size: $font-size-h5;
}

%heading-6 {
  @extend %base-heading;
  font-size: $font-size-h6;
}

%lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}

// Display
// -------

%display-1 {
  font-size: $display1-size;
  font-weight: $display1-weight;
}

%display-2 {
  font-size: $display2-size;
  font-weight: $display2-weight;
}

%display-3 {
  font-size: $display3-size;
  font-weight: $display3-weight;
}

%display-4 {
  font-size: $display4-size;
  font-weight: $display4-weight;
}

// Horizontal Rules
// ----------------

%hr {
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
  margin-bottom: $spacer-y;
  margin-top: $spacer-y;
}

// Alignment
// ---------

%text-left {
  text-align: left;
}

%text-center {
  text-align: center;
}

%text-right {
  text-align: right;
}

%text-justify {
  text-align: justify;
}

%nowrap {
  white-space: nowrap;
}

%truncate {
  @extend %nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%decoration-none {
  text-decoration: none;
}

%decoration-underline {
  text-decoration: underline;
}

%decoration-line-through {
  text-decoration: line-through;
}

// Emphasis
// --------

%regular {
  font-weight: regular;
}

%strong {
  font-weight: bold;
}

%italic {
  font-style: italic;
}

%del {
  @extend %decoration-line-through;
}

%ins {
  @extend %decoration-underline;
}

%small {
  font-size: ms(-2);
  font-weight: normal;
}

%mark {
  background-color: $highlight-yellow;
  padding: .2em;

  @each $color, $var in ('yellow': $highlight-yellow,
                         'blue': $highlight-blue,
                         'pink': $highlight-pink,
                         'green': $highlight-green,
                         'orange': $highlight-orange) {
    &.#{$color} {
      background-color: #{$var};
    }
  }
}

// Typefaces
// ---------

%font-family-sans-serif {
  font-family: $font-family-sans-serif;
}

%font-family-serif {
  font-family: $font-family-serif;
}

%font-family-slab {
  font-family: $font-family-slab;
}

%font-family-monospace {
  font-family: $font-family-monospace;
}

// List
// ----

%list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
%list-inline {
  @extend %list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Horizontal description lists w/ grid classes
%dl-horizontal {
  @include clearfix;

  margin-left: -$gutter;
  margin-right: -$gutter;
}

// Misc
// ----

%initiamlsm {
  font-size: ms(-1);
  text-transform: uppercase;
}

%blockinline {
  font-family: $blockquote-font-family;
}

%blockquote {
  @extend %blockinline;

  border-left: .25rem solid $blockquote-border-color;
  font-size: $blockquote-font-size;
  margin-bottom: $spacer;
  padding: ($spacer / 2) $spacer;

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  footer {
    color: blockquote-small-color;
    display: block;
    font-size: ms(-2);
    line-height: $line-height;

    &::before {
      content: '\2014 \00A0';
    }
  }
}

%blockquote-reverse {
  @extend %blockquote;

  border-left: 0;
  border-right: .25rem solid $blockquote-border-color;
  padding-left: 0;
  padding-right: $spacer;
  text-align: right;

  footer {
    &::before { content: ''; }
    &::after {
      content: '\00A0 \2014';
    }
  }
}
