@include keyframes(multicolour-background) {
  0% {
    background-color: $cape-code;
  }
  
  20% {
    background-color: $wild-watermelon;
  }
  
  40% {
    background-color: $fire-bush;
  }
  
  60% {
    // Bitter Lemon is a litte to light.
    background-color: darken($bitter-lemon, 10%);
  }
  
  80% {
    background-color: $cerulean;
  }
  
  100% {
    background-color: $cape-code;
  }
}
